.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px; }



.button--1, .button--1 .button__bg, .button--2, .button--4, .button--4 .button__bg, .button--5, .button--6, .button--7, .button--8, .button--9, .button--10 {
  -webkit-font-smoothing: antialiased;
  background-color: #311B92;
  border: none;
  border-radius: 500px;
  display: inline-block;
  font-family: pt_sans;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  user-select: none;
  /*letter-spacing: 0.1em;*/
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  /*-webkit-transition: background-color 0.1s ease-out;*/
  /*-moz-transition: background-color 0.1s ease-out;*/
  transition: background-color 0.1s ease-out; 
}


  .button--1:hover, .button--1 .button__bg:hover, .button--2:hover, .button--4:hover, .button--4 .button__bg:hover, .button--5:hover, .button--6:hover, .button--7:hover, .button--8:hover, .button--9:hover, .button--10:hover {
    background-color: #311B92;
    color: #fff; 
  }

  .button--1:focus, .button--1 .button__bg:focus, .button--2:focus, .button--4:focus, .button--4 .button__bg:focus, .button--5:focus, .button--6:focus, .button--7:focus, .button--8:focus, .button--9:focus, .button--10:focus {
    outline: none;
    color: #fff; 
  }

.safari .button, .safari
.button__bg {
  -webkit-filter: none !important;
  filter: none !important; 
}

.button--1 {
  position: relative;
  background: none;
  z-index: 0; 
}

  .button--1:hover {
    background: none; 
  }

  .button--1:hover .circle {
    background: #311B92; 
  }

  .button--1:hover .button__bg {
    background: #311B92; 
  }

  .button--1 .button__container {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    pointer-events: none;
    z-index: -1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; 
  }

  .button--1 .button__bg, .button--1 .circle {
    -webkit-animation: hue-rotate 10s linear infinite;
    -moz-animation: hue-rotate 10s linear infinite;
    animation: hue-rotate 10s linear infinite; 
  }

  .button--1 .button__bg {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); 
  }

  .button--1 .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #311B92;
    /*-webkit-transition: background-color 0.1s ease-out;*/
    /*-moz-transition: background-color 0.1s ease-out;*/
    /*transition: background-color 0.1s ease-out; */
  }

    .button--1 .circle.top-left {
      top: 40%;
      left: 27%; 
    }

    .button--1 .circle.bottom-right {
      bottom: 40%;
      right: 27%; 
    }

.section{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}